/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smootyhing: grayscale;
    scroll-behavior: smooth;
    font-family: 'Inter';
}
  
:root {
    font-size: 62.5%;
}

body {
    background-color: #292738;
    font-size: 1.6rem;
}
h1 {
   color: #FFFFFF;
   font-size: 3.4rem;
   line-height: 160%;
}
h2 {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 2.4rem;
   line-height: 160%;
}

h6 {
   color: #FFFFFF;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 160%;
}

p {
   color: #FFFFFF;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 160%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin: 11.2rem auto;
  max-width: 112rem;
  gap: 3.2rem;
}

.card {
  background-color: #363447;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.9rem 4.8rem;
  gap: 3.2rem;
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.top-dashboard {
    display: grid;
    grid-template-columns: 29.6rem 35.1rem 1fr;
    gap: 3.2rem;
    max-width: 112rem;
}

.top-dashboard .card {
  justify-content: space-between;
}

.top-dashboard .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 4.45rem 0;
}
.top-dashboard .card .card-content img {
   width: 5.4rem;
   height: 5.4rem;
}

.top-dashboard .card .card-content h2 {
   color: #81FBB8;
}

.top-dashboard .card .card-footer {
   display: flex;
   gap: 0.8rem;
   align-items: center;
}

.donut-chart
{
  width:220px;
  height:220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donut-chart svg {
  width: 197px;
  height: 197px;
  transform: rotate(-90deg);

  --dash: 618; /* circunferencia */
  --donut-chartage: 75;
}

.donut-chart svg circle {
  fill: none;
  stroke-width: 35;
  stroke-dasharray: var(--dash);
  stroke-dashoffset: var(--dash);
}

.donut-chart svg circle:nth-child(1) {
  stroke-dashoffset: 0;
}
.donut-chart svg circle:nth-child(2) {
  stroke-dashoffset: calc(var(--dash) - (var(--dash) * var(--percentage)) / 100);
  stroke-linecap: round;
  animation: Progress 1s ease-in-out;
}

@keyframes Progress {
  0% {
    stroke-dasharray: var(--dash);
    stroke-dashoffset: var(--dash);
  }
}
 .donut-chart .num {
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  flex-direction: column;
  position: absolute;
  margin: auto;
}

.donut-chart .num p {
  font-size: 1.6rem !important;
  font-weight: 400;
  margin-top: -1rem;
}
.text {
  padding: 10px 0 0;
  color:#999;
  font-weight:700;
  letter-spacing:1px;
}

.card-sales-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-sales-legend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-sales-legend .expected, .total {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.circle-legend {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.circle-legend.expected {
  background-color: #4A4556; 
}

.circle-legend.sales.total{
 background: linear-gradient(121.94deg, #CE9FFC 15.98%, #7367F0 82.85%);
}

.card-monthly-goal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-goal-legend {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-goal-legend .expected, .total {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.circle-legend {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.circle-legend.expected {
  background-color: #4A4556; 
}

.circle-legend.goal.total{
  background: linear-gradient(121.94deg, #DF9780 15.98%, #A66DE9 82.85%);
 }

 .bottom-dashboard {
  display: grid;
  grid-template-columns: 3fr;
  gap: 3.2rem;
}

.bottom-dashboard .card {
  align-items: flex-start;
}

.bottom-dashboard .card .content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.bottom-dashboard .card .content .content-left{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

.bottom-dashboard .card .content .content-left h2{
  font-weight: 500;
}

.bottom-dashboard .card .content .content-left .more-sales, .less-sales {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .8rem;
}

.bottom-dashboard .card .content .content-left .more-sales .legend {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.bottom-dashboard .card .content .content-left .less-sales .legend {
  display: flex;
  align-items: center;
  gap: .4rem;
}


.bar-chart {
  max-width: 52.3rem;
  height: 18.6rem;
  display: flex;
  flex-direction: row;
  gap: 5.9rem;
  position: relative;
}

.bar-chart .line {
  width: 100%;
  height: .3rem;
  border-radius: 999px;
  background-color: #4A4556;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}


.bar-chart .chart-serie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: .5rem;
  height: 100% !important;
}

.bar-chart .chart-serie .column {
  width: 1.5rem;
  height: 20%;
  border-radius: 999rem;
  background: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
  transform-origin: bottom top;
  animation: toUp 500ms linear forwards;
  position: relative;
  cursor: pointer;
}

.popover-text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  padding: 0.5rem;
  background-color: #1b1a25;
  color: #fff;
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.3s ease-in-out;
}

.popover-text::before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: -10%;
  transform: translateX(-50%) rotate(90deg);
  border: 0.5rem solid transparent;
  border-top-color: #000;
  z-index: 0;
}

.bar-chart .chart-serie .column:hover .popover-text {
  opacity: 1;
  visibility: visible;
}

.bar-chart p {
  font-weight: 500;
}

@keyframes toUp {
  0% {
    height: 0%;
  }

  100% {
    height: var(--height);
  }
}

/* Media Queries */

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 870px) {
  .dashboard {
    margin: 11.2rem 3.2rem;
  }
  .card {
    max-height:45rem;
  }
  .top-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .top-dashboard .card:nth-child(3) {
    grid-column: span 2;
  }
  .bottom-dashboard {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4.0rem;
  }
  .bottom-dashboard .card {
    align-items: center;
  }
  .bottom-dashboard .card .content .bar-chart {
    gap: 5.9rem;
  }
  .bottom-dashboard .card .content {
    flex-direction: column;
    align-items: center;
  }
  .bottom-dashboard .card .content .content-left{
    flex-direction: row;
    gap: 4rem;
  }
  .bottom-dashboard .card .content .content-left .more-sales, .less-sales{
    align-items: center;
  }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .dashboard {
    margin: 11.2rem 3.2rem;
  }
  .card {
    max-height:45rem;
  }
  .top-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    max-width: 112rem;
  }
  .bottom-dashboard {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4.0rem;
  }
  .bottom-dashboard .card {
    align-items: center;
  }
  .bottom-dashboard .card .content .bar-chart {
    gap: 2.4rem;
  }
  .bottom-dashboard .card .content {
    flex-direction: column;
    align-items: center;
  }
  .bottom-dashboard .card .content .content-left{
    flex-direction: row;
    gap: 4rem;
  }
  .bottom-dashboard .card .content .content-left .more-sales, .less-sales{
    align-items: center;
  }
}

@media (max-width: 500px) {
  .dashboard {
    margin: 11.2rem 3.2rem;
  }
  .card {
    max-height:45rem;
  }
  .top-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    max-width: 112rem;
  }
  .bottom-dashboard {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4.0rem;
  }
  .bottom-dashboard .card {
  align-items: center;
  }
  .bottom-dashboard .card .content .bar-chart {
    gap: 2.4rem;
  }
  .bottom-dashboard .card .content {
    flex-direction: column;
    align-items: center;
  }
  .bottom-dashboard .card .content .content-left{
    flex-direction: row;
    gap: 4rem;
  }
  .bottom-dashboard .card .content .content-left .more-sales, .less-sales{
    align-items: center;
  }
}




